# The Plan

## Read in CSV Data


## Formalize State 


## Make Markov Chain


## Visualize Markov Chain


## Evaluate Stock Price Predictions


## Evaluate Sentiment Predictions

In [1]:
import pandas as pd

df = pd.read_csv('AAPL-histnews-merged.csv')
df

       created_at Sentiment_New       Price
0      2022-12-30       neutral  129.929993
1      2022-12-30       neutral  129.929993
2      2022-12-30      positive  129.929993
3      2022-12-30      positive  129.929993
4      2022-12-30      positive  129.929993
...           ...           ...         ...
20416  2015-01-05       neutral   26.562500
20417  2015-01-02       neutral   27.332500
20418  2015-01-02       neutral   27.332500
20419  2015-01-02      negative   27.332500
20420  2015-01-02      positive   27.332500

[20421 rows x 3 columns]

In [ ]:
# make a 9x9 transition matrix
# each state is (sentiment_on_day_x, pric)